html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px;
}
.page-content {
	padding-bottom: 20px;
}
.hebrew {
	font-family: 'David Libre', serif;
}
.link {
	color: #0275d8;
}
.link:hover {
	color: #014c8c;
	text-decoration: underline;
	cursor: pointer;
}
form {
	margin: 0;
}
h1, h2, h3, h4, h5 {
    text-align: center;
}
button:hover {
	cursor: pointer;

}
.navbar-brand {
	width: fit-content;
	width: -moz-fit-content;
}
.navbar-brand img {
	height: 40px;
	width: auto;
}
nav.navbar hr {
	background: rgba(255,255,255, 0.5);
	margin: 0;
}
.carousel-caption h3 {
	color: #ffffff;
}
.carousel-caption p {
	background: rgb(0, 0, 0, 0.5);
	padding: 10px;
}
/*.carousel-indicators li {
	background-color: rgba(0, 0, 0, 0.5);
}
.carousel-indicators li.active {
	background-color: #000000;
}*/
.carousel .carousel-control img{
	height: 10%;
	width: auto;
}

@media (min-width: 767px) {
	.carousel .carousel-control img{
		height: 15%;
		width: auto;
	}
}

.scrollable-table {
	overflow: auto;
}
.fas.fa-check {
	color: green;
}
.fas.fa-times {
	color: red;
}

.markItUp {
	width: 100%!important;
}
/****************/
/*    Footer   */
/**************/

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #292b2c;
}
.footer .copyright {
	color: #9e9e9e;
}
.footer .copyright a, .footer .copyright a:hover {
	color: #ffffff;
}

/********************/
/*  Login/Signup   */
/******************/
#signup-container {
	display: none;
}


/****************/
/*  Word list  */
/**************/
.list-name {
	text-decoration: underline;
}
.list-name:hover {
	cursor: pointer;
}

/***********************/
/*  Training options  */
/*********************/
.trainig-option{
	cursor: pointer;
}



.scroller {
	position: fixed;
	bottom: 30px;
	right: 10px;
}
.scroller .scroller-up {
	right: 50px;
	cursor: pointer;
	display: none;
	font-size: 200%;
	
}
.scroller .scroller-down {
	right: 10px;
	cursor: pointer;
	font-size: 200%;
	
}